<h1>Remove course</h1>

<div>
    <form asp-action="Index" method="post">
        <label>Select course to delete:</label>
        <select class="form-control col-3">
            @foreach (var itemC in (IEnumerable<Course>)ViewData["Course"])
            {
                bool check = false;

                foreach (var itemSC in (IEnumerable<StudentCourse>)ViewData["StudentCourse"])
                {
                    if (itemC.Equals(itemSC.Course)) check = true;
                }

                if (check)
                {
                    <option>@itemC.Name</option>
                }
            }
        </select>
        <input class="mt-3 btn btn-primary" type="submit" value="Add" />
    </form>
</div>